@charset "UTF-8";
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

/* Color palette, based on 16 color "ANSI" standard but with slight modifications */
/* latin-ext */
@font-face {
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("/assets/BngcUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZ2dPCj_9KrdHM_xJo.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("/assets/BngcUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZ2evCj_9KrdHM_.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.scroller {
  --scrollbar-color-track: $grey-dark;
  --scrollbar-color-thumb: hotpink;
}

@supports (scrollbar-width: auto) {
  .scroller {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
  }

  .warning {
    display: none;
  }
}
.scroller {
  border: 1px solid #000;
  width: 100%;
  height: 50vh;
  position: relative;
  container-type: inline-size;
}
.scroller:has(.content) {
  background: white;
  overflow-y: auto;
  overscroll-behavior: contain;
}
.scroller .content {
  min-height: 75vh;
  padding: 1rem 1rem;
}
.scroller .content *:first-child {
  margin-top: 0;
}
.scroller .content *:last-child {
  margin-bottom: 0;
}

.fgblink {
  animation: fg-blinker 1s linear infinite;
}

@keyframes fg-blinker {
  0% {
    color: currentColor !important;
  }
  49% {
    color: currentColor !important;
  }
  50% {
    color: rgba(0, 0, 0, 0) !important;
  }
  100% {
    color: rgba(0, 0, 0, 0) !important;
  }
}
.button-grey {
  background-color: #AAAAAA;
  outline-offset: 1px;
  outline: 1px dashed #AAAAAA;
  color: #181918;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.button-grey:active {
  background-color: #181918;
  outline-offset: 1px;
  outline: 1px dashed #AAAAAA;
  color: #AAAAAA;
  margin: 3px;
  padding: 5px;
  cursor: wait;
}

.button-blue {
  background-color: #5555FF;
  outline-offset: 1px;
  outline: 1px dashed #5555FF;
  color: #181918;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.button-blue:active {
  background-color: #181918;
  outline-offset: 1px;
  outline: 1px dashed #5555FF;
  color: #5555FF;
  margin: 3px;
  padding: 5px;
  cursor: wait;
}

.button-green {
  background-color: #55FF55;
  outline-offset: 1px;
  outline: 1px dashed #55FF55;
  color: #181918;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.button-green:active {
  background-color: #181918;
  outline-offset: 1px;
  outline: 1px dashed #55FF55;
  color: #55FF55;
  margin: 3px;
  padding: 5px;
  cursor: wait;
}

.button-cyan {
  background-color: #55FFFF;
  outline-offset: 1px;
  outline: 1px dashed #55FFFF;
  color: #181918;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.button-cyan:active {
  background-color: #181918;
  outline-offset: 1px;
  outline: 1px dashed #55FFFF;
  color: #55FFFF;
  margin: 3px;
  padding: 5px;
  cursor: wait;
}

.button-magenta {
  background-color: #FF55FF;
  outline-offset: 1px;
  outline: 1px dashed #FF55FF;
  color: #181918;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.button-magenta:active {
  background-color: #181918;
  outline-offset: 1px;
  outline: 1px dashed #FF55FF;
  color: #FF55FF;
  margin: 3px;
  padding: 5px;
  cursor: wait;
}

.button-red {
  background-color: #FF5555;
  outline-offset: 1px;
  outline: 1px dashed #FF5555;
  color: #181918;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.button-red:active {
  background-color: #181918;
  outline-offset: 1px;
  outline: 1px dashed #FF5555;
  color: #FF5555;
  margin: 3px;
  padding: 5px;
  cursor: wait;
}

.button-yellow {
  background-color: #FFFF55;
  outline-offset: 1px;
  outline: 1px dashed #FFFF55;
  color: #181918;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.button-yellow:active {
  background-color: #181918;
  outline-offset: 1px;
  outline: 1px dashed #FFFF55;
  color: #FFFF55;
  margin: 3px;
  padding: 5px;
  cursor: wait;
}

.button-orange {
  background-color: #ffc12b;
  outline-offset: 1px;
  outline: 1px dashed #ffc12b;
  color: #181918;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.button-orange:active {
  background-color: #181918;
  outline-offset: 1px;
  outline: 1px dashed #ffc12b;
  color: #ffc12b;
  margin: 3px;
  padding: 5px;
  cursor: wait;
}

.button-white {
  background-color: #ffffff;
  outline-offset: 1px;
  outline: 1px dashed #ffffff;
  color: #181918;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.button-white:active {
  background-color: #181918;
  outline-offset: 1px;
  outline: 1px dashed #ffffff;
  color: #ffffff;
  margin: 3px;
  padding: 5px;
  cursor: wait;
}

/********** Essential Audio Player 2.1 CSS **********/
/****************************************/
/*                                      */
/*         Section 1: The Looks         */
/*                                      */
/****************************************/
/* 1. The Main Container */
div.essential_audio {
  position: relative;
  z-index: 0;
  width: 100%;
  background-color: #aa911b;
}

/* 2. The Player Button – General */
div.essential_audio > div:nth-child(1) div {
  width: 28px;
  height: 28px;
  margin-top: -13px;
  border-radius: 50%;
  background-color: #181918;
}

div.essential_audio > div:nth-child(1) div:after {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 86%;
  height: 86%;
}

/* Set here how much the button exceeds the horizontal track limits: */
/* This must not be deleted! (but can be changed, of course) */
:root {
  --button-protrusion: 4px;
}

/* 2.a) The Player Button – Off */
div.essential_audio > div:nth-child(1) div.off:after {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><polygon fill='%23FFF' points='10,6.9 10,23.1 24,15' /></svg>");
}

/* 2.b) The Player Button – Loading */
div.essential_audio > div:nth-child(1) div.load:after {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><circle opacity='0.64' fill='%23FFFFFF' cx='6.5' cy='18.5' r='2'/><circle opacity='0.76' fill='%23FFFFFF' cx='6.5' cy='11.5' r='2'/><circle opacity='0.88' fill='%23FFFFFF' cx='11.5' cy='6.5' r='2'/><circle fill='%23FFFFFF' cx='18.5' cy='6.5' r='2'/><circle opacity='0.16' fill='%23FFFFFF' cx='23.5' cy='11.5' r='2'/><circle opacity='0.28' fill='%23FFFFFF' cx='23.5' cy='18.5' r='2'/><circle opacity='0.4' fill='%23FFFFFF' cx='18.5' cy='23.4' r='2'/><circle opacity='0.52' fill='%23FFFFFF' cx='11.5' cy='23.4' r='2'/></svg>");
  animation: audio_load_rotate 1s infinite linear;
}

@keyframes audio_load_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 2.c) The Player Button – Playing */
div.essential_audio > div:nth-child(1) div.play {
  background-color: #181918 !important;
}

div.essential_audio > div:nth-child(1) div.play:after {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><rect fill='%23FFF' x='17' y='8' width='3' height='14' /><rect fill='%23FFF' x='10' y='8' width='3' height='14' /></svg>");
}

/* 2.d) The Player Button – Dragging */
div.essential_audio > div:nth-child(1) div.drag {
  transition: left 0s !important;
  /*
  cursor: grab!important;
  */
}

/* 2.e) The Player Button – Error */
div.essential_audio > div:nth-child(1) div.error {
  background-color: rgba(0, 0, 0, 0.35) !important;
}

div.essential_audio > div:nth-child(1) div.error:after {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path fill='%23FFF' d='M13.9,18.6c0-0.3,0-0.5,0-0.9c0-1.6,0.6-2.9,2.1-3.9l1.1-0.8c0.9-0.6,1.3-1.5,1.3-2.4c0-1.5-1-2.8-3-2.8c-2.2,0-3.1,1.6-3.1,3.2c0,0.2,0,0.4,0,0.5L10,11.9c-0.1-0.3-0.1-0.8-0.1-1.2c0-2.3,1.7-5.1,5.5-5.1c3.5,0,5.5,2.5,5.5,5c0,2-1.1,3.4-2.5,4.3l-1.2,0.8c-0.8,0.5-1.1,1.4-1.1,2.4c0,0.1,0,0.2,0,0.5H13.9z'/><path fill='%23FFF' d='M15,20.8c1,0,1.8,0.8,1.8,1.8S16,24.4,15,24.4c-1,0-1.8-0.8-1.8-1.8S14,20.8,15,20.8z'/></svg>");
}

/* 3. The Track */
div.essential_audio > div:nth-child(2) {
  height: 2px;
}

div.essential_audio > div:nth-child(2):after {
  content: "";
  position: absolute;
  z-index: 0;
  background-color: #181918;
  opacity: 0.3;
  mix-blend-mode: multiply;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* 4. The Loading Progress Bar */
div.essential_audio > div:nth-child(2) div {
  background-color: #aa911b;
  mix-blend-mode: multiply;
}

/* 5. The Click & Drag Sensor */
div.essential_audio > div:nth-child(3) {
  height: 18px;
  margin-top: -8px;
}

/****************************************/
/*                                      */
/*        Section 2: Core Values        */
/*                                      */
/****************************************/
/* 1. The Main Container + General Settings */
div.essential_audio,
div.essential_audio * {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: auto;
}

div.essential_audio *:focus {
  outline: none;
}

/* 2. The Player Button */
div.essential_audio > div:nth-child(1) div {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

/* 2.a) Container for Player Button */
div.essential_audio > div:nth-child(1) {
  position: absolute;
  z-index: 3;
  height: 0px;
  top: 0px;
  left: calc(var(--button-protrusion) * -1);
  width: calc(100% + 2 * var(--button-protrusion));
}

/* 3. The Track */
div.essential_audio > div:nth-child(2) {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* 4. The Loading Progress Bar */
div.essential_audio > div:nth-child(2) div {
  position: absolute;
  z-index: 1;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  transition: width 0.5s;
}

/* 5. The Click & Drag Sensor */
div.essential_audio > div:nth-child(3) {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0px;
  left: 0px;
}

body {
  padding: 1;
  margin: 0;
  background-color: #181918;
  color: #AAAAAA;
  font-family: "Noto Sans Mono", "monospace";
  font-size: 16px;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

.topbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 32px;
  background-color: #FFFF55;
  color: #181918;
  padding: 0;
  margin: 0;
  z-index: 99999999;
}

.topbar-left {
  position: absolute;
  top: 6px;
  left: 0;
  padding: 0;
  margin: 0;
}

.topbar-right {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 0;
  margin: 0;
}

.bottombar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #aa911b;
  color: #FFFF55;
  z-index: 99999999;
}

.main {
  position: relative;
  top: 32px;
  width: 100%;
}

table {
  width: 100% !important;
}

table.grey {
  border: 1px solid #AAAAAA !important;
}

table.grey th {
  background-color: #AAAAAA !important;
  color: #181918;
}

table.blue {
  border: 1px solid #5555FF !important;
}

table.blue th {
  background-color: #5555FF !important;
  color: #181918;
}

table.green {
  border: 1px solid #55FF55 !important;
}

table.green th {
  background-color: #55FF55 !important;
  color: #181918;
}

table.cyan {
  border: 1px solid #55FFFF !important;
}

table.cyan th {
  background-color: #55FFFF !important;
  color: #181918;
}

table.magenta {
  border: 1px solid #FF55FF !important;
}

table.magenta th {
  background-color: #FF55FF !important;
  color: #181918;
}

table.red {
  border: 1px solid #FF5555 !important;
}

table.red th {
  background-color: #FF5555 !important;
  color: #181918;
}

table.yellow {
  border: 1px solid #FFFF55 !important;
}

table.yellow th {
  background-color: #FFFF55 !important;
  color: #181918;
}

table.orange {
  border: 1px solid #ffc12b !important;
}

table.orange th {
  background-color: #ffc12b !important;
  color: #181918;
}

table.white {
  border: 1px solid #ffffff !important;
}

table.white th {
  background-color: #ffffff !important;
  color: #181918;
}

table.grey-dark {
  border: 1px solid #555555 !important;
}

table.grey-dark th {
  background-color: #555555 !important;
  color: #181918;
}

table.blue-dark {
  border: 1px solid #0000AA !important;
}

table.blue-dark th {
  background-color: #0000AA !important;
  color: #181918;
}

table.green-dark {
  border: 1px solid #00AA00 !important;
}

table.green-dark th {
  background-color: #00AA00 !important;
  color: #181918;
}

table.cyan-dark {
  border: 1px solid #00AAAA !important;
}

table.cyan-dark th {
  background-color: #00AAAA !important;
  color: #181918;
}

table.magenta-dark {
  border: 1px solid #AA00AA !important;
}

table.magenta-dark th {
  background-color: #AA00AA !important;
  color: #181918;
}

table.red-dark {
  border: 1px solid #AA0000 !important;
}

table.red-dark th {
  background-color: #AA0000 !important;
  color: #181918;
}

table.yellow-dark {
  border: 1px solid #aa911b !important;
}

table.yellow-dark th {
  background-color: #aa911b !important;
  color: #181918;
}

table.orange-dark {
  border: 1px solid #b17711 !important;
}

table.orange-dark th {
  background-color: #b17711 !important;
  color: #181918;
}

.grey {
  color: #AAAAAA !important;
}

.blue {
  color: #5555FF !important;
}

.green {
  color: #55FF55 !important;
}

.cyan {
  color: #55FFFF !important;
}

.magenta {
  color: #FF55FF !important;
}

.red {
  color: #FF5555 !important;
}

.yellow {
  color: #FFFF55 !important;
}

.orange {
  color: #ffc12b !important;
}

.white {
  color: #ffffff !important;
}

.grey-dark {
  color: #555555 !important;
}

.blue-dark {
  color: #0000AA !important;
}

.green-dark {
  color: #00AA00 !important;
}

.cyan-dark {
  color: #00AAAA !important;
}

.magenta-dark {
  color: #AA00AA !important;
}

.red-dark {
  color: #AA0000 !important;
}

.yellow-dark {
  color: #aa911b !important;
}

.orange-dark {
  color: #b17711 !important;
}

tr.unhandled {
  background-color: #FF5555;
  color: #181918;
}

.hidden {
  display: none;
}

#codered {
  background-color: #FF5555;
}

#codered p {
  color: #ffffff;
  font-size: 32px;
}

#codered .codeheader {
  font-size: 64px !important;
}

#codeblue {
  background-color: #5555FF;
}

#codeblue p {
  color: #ffffff;
  font-size: 32px;
}

#codeblue .codeheader {
  font-size: 64px !important;
}

#codered::backdrop {
  background-color: #AA0000;
  opacity: 0.75;
}

#codeblue::backdrop {
  background-color: #0000AA;
  opacity: 0.75;
}

dialog {
  z-index: 100000;
}

#intercepts tr {
  cursor: pointer !important;
}

#intercepts tr:hover {
  background-color: #FFFF55 !important;
  color: #181918 !important;
}

select {
  background-color: #181918;
  border: #FFFF55;
  font-size: inherit;
  font-family: "Noto Sans Mono", "monospace";
  cursor: pointer;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

option {
  font-family: "Noto Sans Mono", "monospace";
  font-size: inherit;
}

input {
  border-bottom: 1px dotted #FFFF55;
}

td {
  vertical-align: top;
}

input[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
  appearance: none;
  /* For iOS < 15 */
  background-color: transparent;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  place-content: center;
  display: grid;
}

input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em currentColor;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

input[type=checkbox]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type=checkbox]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.form-control {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.sigint_searchresult {
  border: 1px solid #FFFF55;
}

.sigint_searchresult_header {
  text-transform: uppercase;
  background-color: #FFFF55;
  color: #181918;
}

.spectro, .spectro img {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#spectrogram_holder {
  transition: all 3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
