/* Color palette, based on 16 color "ANSI" standard but with slight modifications */

$black: #181918;
$grey-dark: #555555;
$grey: #AAAAAA;
$blue-dark: #0000AA;
$green-dark: #00AA00;
$cyan-dark: #00AAAA;
$magenta-dark: #AA00AA;
$red-dark: #AA0000;
$yellow-dark: #aa911b;
$blue: #5555FF;
$green: #55FF55;
$cyan: #55FFFF;
$magenta: #FF55FF;
$red: #FF5555;
$yellow: #FFFF55;
$white: #ffffff;
$orange-dark: #b17711;
$orange: #ffc12b;