body {
    padding:1;
    margin:0;
    background-color: $black;
    color: $grey;
    font-family: $font-stack;
    font-size: 16px;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.topbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 32px;
    background-color: $yellow;
    color: $black;
    padding:0;
    margin:0;
    z-index:99999999;
}

.topbar-left {
    position:absolute;
    top:6px;
    left:0;
    padding:0;
    margin:0;
}

.topbar-right {
    position:absolute;
    top:6px;
    right:0;
    padding:0;
    margin:0;
}
.bottombar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $yellow-dark;
    color: $yellow;
    z-index:99999999;
}
.main {
    position:relative;
    top:32px;
    width:100%;
}

table {
    width: 100% !important;
}

@each $colorname, $colorcode in $bright-colors {
    table.#{$colorname} {
        border: 1px solid $colorcode !important;
    }
    table.#{$colorname} th {
        background-color: $colorcode !important;
        color: $black;
    }
}

@each $colorname, $colorcode in $dark-colors {
    table.#{$colorname} {
        border: 1px solid $colorcode !important;
    }
    table.#{$colorname} th {
        background-color: $colorcode !important;
        color: $black;
    }
}

@each $colorname, $colorcode in $bright-colors {
    .#{$colorname} {
        color: $colorcode !important;
    }
}

@each $colorname, $colorcode in $dark-colors {
    .#{$colorname} {
        color: $colorcode !important;
    }
}

tr.handled {
}

tr.unhandled {
    background-color: $red;
    color: $black;
}

.hidden {
    display:none;
}

#codered {
    background-color: $red;
}
#codered p {
    color: $white;
    font-size: 32px;
}
#codered .codeheader {
    font-size: 64px !important;
}
#codeblue {
    background-color: $blue;
}
#codeblue p {
    color: $white;
    font-size: 32px;
}
#codeblue .codeheader {
    font-size: 64px !important;
}
#codered::backdrop {
    background-color: $red-dark;
    opacity:0.75;
}
#codeblue::backdrop {
    background-color: $blue-dark;
    opacity:0.75;
}
dialog {
    z-index:100000;
}
#intercepts tr {
    cursor: pointer !important;
}
#intercepts tr:hover {
    background-color: $yellow !important;
    color: $black !important;
}

select {
    background-color: $black;
    border: $yellow;
    font-size: inherit;
    font-family: $font-stack;
    cursor: pointer;
    line-height: inherit;
  
    // Stack above custom arrow
    z-index: 1;  
    // Remove focus outline, will add on alternate element
    outline: none;
}

option {
    font-family: $font-stack;
    font-size: inherit;
}

input {
    border-bottom: 1px dotted $yellow;
}
textarea {
}